body {
  background-color: rgb(24, 119, 192);
}



.bass:active {
  background-color: blue;
}
.play-blue {
  background-color: blue;
}






.setting {
  width: 500px;
  height: 250px;
  background-color: antiquewhite;
}

.setting__basses {
  width: 480px;
  height: 40px;
  background-color: black;
  margin-left: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.setting__bass {
  width: 28px;
  height: 28px;
  background-color: red;
}

.setting__bass--active {
  background-color: yellow;
}
