* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #006F48;
  text-align: center;
}

.title {
  color: #FF9700;
}

.drums {
  margin-top: 3%;
}

.drum {
  display: flex;
  align-items: center;
}
.drum kbd {
  font-size: 24px;
  font-weight: 600;
}
.row {
  width: 40%;
  background-color: #60D5AC;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-row {
  border-radius: 20px 20px 0 0;
}
/* .middle-row {

} */
.bottom-row {
  border-radius: 0 0 20px 20px;
}

.image {
  width: 10vw;
  border-radius: 50%;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.image:not(:hover) {
  transition: 0.3s;
}

.animate {
  transform: scale(1.2);
  transition: 0.3s;
}